@keyframes slideInFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideOutToTop {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-100%);
    opacity: 0;
  }
}
.animateSlideOutToTop {
  animation: slideOutToTop 0.8s ease-in-out forwards;
}


.animateSlideInFromTop {
  animation: slideInFromTop 0.8s ease-in-out;
}